[2020-12-09 18:04] annegentle opened #2 "Link to documentation in the galaxy.yml file doesn't work"
The link https://docs.ansible.com/ansible/latest/scenario_guides/guide_dnac.html gives a 404 - perhaps use https://developer.cisco.com/docs/dna-center/#!ansible instead?

[2020-12-09 23:13] racampos commented on #2
Thank you, it's now fixed.

[2020-12-09 23:13] #2 closed

[2021-01-08 16:22] jandiorio opened #3 "missing value for `idempotent` in call to `dnac_argument_spec`"
The function for generating the arg_spec has a flag named `idempotent` which has a default value of `False`.  This value appears to control which values are used for `state` such as [create, delete, update, query] vs [present, absent, query].

At the action plugin level, the value of state is used to control execution.   When setting state in the arg_spec the call must pass `idempotent=True` for a

[2021-03-22 13:54] jorgebanegas opened #4 "ERROR! Unexpected Exception, this is probably a bug: No module named 'ansible_collections.ansible.utils'"
<img width="527" alt="Screen Shot 2021-03-22 at 9 53 59 AM" src="https://user-images.githubusercontent.com/22305451/112000612-88666f80-8af4-11eb-9659-2fc09e986590.png">

Receiving this issue when running the example provided in https://galaxy.ansible.com/cisco/dnac.

Looking for ways to solve this bug

[2021-03-22 14:08] jorgebanegas commented on #4
ansible 2.9.7
  config file = None
  configured module search path = ['/Users/jbanegas/.ansible/plugins/modules', '/usr/share/ansible/plugins/modules']
  ansible python module location = /usr/local/lib/python3.7/site-packages/ansible
  executable location = /usr/local/bin/ansible
  python version = 3.7.6 (default, Dec 30 2019, 19:38:28) [Clang 11.0.0 (clang-1100.0.33.16)]

[2021-03-22 17:09] racampos commented on #3
Fixed in version 1.0.1. Thanks @jandiorio.

[2021-03-22 17:09] #3 closed

[2021-03-22 21:14] racampos commented on #4
You should already have the `ansible.utils` collection as part of your Ansible default installation. But you can always install it manually with `ansible-galaxy collection install ansible.utils`. Please try that and try running the playbook again.

Today I uploaded a new version of the `cisco.dnac` collection. Please execute `ansible-galaxy collection install cisco.dnac:==1.0.2 --force` to upgrade

[2021-03-23 16:09] metabsd opened #5 "This is possible to use DNA as a dynamic inventory ?"
Thx in advance!

[2021-03-23 16:16] jorgebanegas commented on #4
![Screen Shot 2021-03-23 at 12 16 08 PM](https://user-images.githubusercontent.com/22305451/112180020-8d4d2100-8bd1-11eb-8295-0e3292f2be2a.png)

receiving this error after changing the state to create (present was not a valid parameter)

[2021-03-23 16:25] jorgebanegas commented on #4
works for me now ! thanks

[2021-03-23 20:49] #4 closed

[2021-03-23 20:52] racampos commented on #5
Could you please elaborate on your question? What do you mean by a dynamic inventory?

[2021-04-06 13:40] 020003 opened #6 "Documentation Update"
Hi,

could you please include all the parameters in the DNAC login spec documentation?
I just found the dnac_verify in the module_utils code.
In my opinion it should be documented in the readme to make the use of the modules a bit more easy for new users :).

[2021-04-07 15:26] racampos commented on #6
Hello, thanks for the feedback. I have updated the documentation to reflect all the parameters. Please notice that we just released version 2.0.x, which is not backwards compatible with version 1.0.x in terms of the API. Now you have to put your DNAC login credentials in yaml file and use them in your playbooks.

I suggest you do `ansible-galaxy collection install cisco.dnac:==2.0.3 --force` to ma

[2021-04-07 15:26] #6 closed

[2021-04-14 08:16] 020003 opened #7 "cisco.dnac.client_enrichment_details: Provided arguments do not comply with the function schema"
Hi,

I tried to use the client_enrichment_details module but I was not succesful.
The error message I recieve is:

The example in the module documentation is also not really helping me getting this thing to work :) .
It's just mentioning headers, so I looked them up in the api documentation and added them.
[code]

Following playbook was used.
[code]

[2021-09-03 18:36] ptrckstephenson opened #9 "Error couldn't resolve module/action"
It appears that a module is not resolving properly. Below is the yaml file used to test this module:
[code]
The exact error message is

[code]

I tested a similar discovery module in attempt to get the output I was looking for and cisco.dnac.discovery was working correctly:

[code]

Here is versioning info for reference:

[code]

I validated the YAML files to ensure syntax. It appears that the ```

[2021-09-03 19:14] #9 closed

[2021-09-04 00:02] wastorga commented on #7
Hi, @020003.

Thank you for reporting the issue.

We moved from using custom states like `query`, in favor of `_info` modules, since version 3.

We recommend you to update the ansible collection to the latest version (v3.1.1), which requires you to upgrade the dnacentersdk to the latest (v2.3.1).

[2021-09-19 05:30] kaoutherab opened #13 "Issue in cisco.dnac.sda_virtual_network_v2 while creating a virtual network"
The following task:
  - name: Create Virtual Network
    cisco.dnac.sda_virtual_network_v2:
      dnac_host: "{{dnac_host}}"
      dnac_username: "{{dnac_username}}"
      dnac_password: "{{dnac_password}}"
      dnac_verify: "{{dnac_verify}}"
      dnac_port: "{{dnac_port}}"
      dnac_version: "{{dnac_version}}"
      dnac_debug: "{{dnac_debug}}"
      state: present
      scalableGroupNames:

[2021-09-19 05:32] kaoutherab opened #14 "Issue in cisco.dnac.wireless_enterprise_ssid"
the task to create wireless SSID sends a  GET request:

ASK [Create Wirelesss Enterprise SSID] ************************************************************************************************
task path: /Users/kabrougu/github3/cisco_cloud_labs/domains/SDA/workflow/dnacenter-ansible/playbooks/myplaybook.yml:379
Attempt 1

Request
	URL: https://x.x.x.x:443/dna/intent/api/v1/enterprise-ssid
	Method:

[2021-09-19 05:35] kaoutherab opened #15 "Wireless Guest SSID module not found"
Cannot find a module or option to create a Wireless "Guest" SSID versus Wireless "Enterprise" SSID.

[2021-09-20 17:42] jbogarin commented on #13
From what we saw, it looks like a documentation bug or API bug from Cisco DNA Center. I will try to let them know about it.

![Screen Shot 2021-09-20 at 11 40 27](https://user-images.githubusercontent.com/4792616/134048707-9ae2f586-18c2-4211-87be-6150c5896297.png)

[2021-09-24 23:21] kaoutherab commented on #15
This issue is related to DNAC Platform APIs.

[2021-09-25 00:00] kaoutherab commented on #14
This issue is "Ansible Module" issue. Everytime I try to create an ENterprise SSID, if we have already an enterprise SSID created in DNAC, then ansible returns "result": "Object already present". If no SSID created then the ansible module throughs an error.

The correspondent API in DNAC Platform APIs is returning a different behavior. Based on the payload expected, it keeps returning invalid JSON

[2021-09-25 00:01] kaoutherab commented on #13
This issue seems a DNAC Platform API documentation issue. As there seem to be a missing attribute for the request to succeed.

[2021-09-25 00:23] kaoutherab opened #17 "Unable to create reservation"
cisco.dnac.reserve_ip_subpool:
      dnac_host: "{{dnac_host}}"
      dnac_username: "{{dnac_username}}"
      dnac_password: "{{dnac_password}}"
      dnac_verify: "{{dnac_verify}}"
      dnac_port: "{{dnac_port}}"
      dnac_version: "{{dnac_version}}"
      dnac_debug: "{{dnac_debug}}"
      state: present
      ipv4DhcpServers:
      - "10.172.2.220"
      ipv4DnsServers:
      - "10.172.2.220

[2021-09-25 00:24] kaoutherab commented on #17
This seems to be related to DNAC and is related to CSCvz18353

[2021-09-25 00:27] kaoutherab opened #18 "Unable to configure the network devices to be part of the fabric (border/control plane/edge)"
sample:
  - name: Create sda fabric border device / control plane
    cisco.dnac.sda_fabric_control_plane_device:
      dnac_host: "{{dnac_host}}"
      dnac_username: "{{dnac_username}}"
      dnac_password: "{{dnac_password}}"
      dnac_verify: "{{dnac_verify}}"
      dnac_port: "{{dnac_port}}"
      dnac_version: "{{dnac_version}}"
      dnac_debug: "{{dnac_debug}}"
      state: present

[2021-09-25 00:28] kaoutherab commented on #18
This is issue seems related to the DNAC Platform APIs. I am getting the same error message about "fabricSiteNameHierarchy" expectations.

[2021-10-01 19:04] a083138 opened #19 "ERROR! Unexpected Exception, this is probably a bug: invalid syntax (command_runner_run_command.py, line 79)"
I am trying to use this Ansible module for the first time and getting the above error.  I get this no matter which of the sample  playbooks I test at https://github.com/cisco-en-programmability/dnacenter-ansible/tree/main/playbooks.  I am using the latest version of code.(3.1.6)

Below is the full error I see when I use this collection....

[code]

[2021-10-01 19:13] jbogarin commented on #19
@a083138 Have you tried with Python 3? Python 2.x is not supported.

[2021-10-03 06:41] jianm12007 opened #20 "cisco.dnac.site_delete does not work"
Below is the output of module cisco.dnac.site_delete. The output is hte same with cisco.dnac.site_delete. Would you please check if there is anything wrong.

TASK [Delete Floors] ****************************************************************************************************************************************************************************
ok: [10.74.83.21] => (item={'parentId': 'f3844d1

[2021-10-04 03:29] jianm12007 opened #21 "create global ip pood is not work - report id is required"
below the playbook used for create global ip pools
-----------------------------------------------------
---
# Create global IP Pool.
- hosts: dnac_servers
  vars_files:
    - vars.yml
  connection: local
  gather_facts: no

  tasks:
  - name: Create Global IP Pool
    cisco.dnac.global_pool:
      dnac_host: "{{dnac_host}}"
      dnac_username: "{{dnac_username}}"
      dnac_password: "{{dnac_pas

[2021-10-04 07:53] jianm12007 commented on #21
I add the id with blank string. It works. But this DNAC API do not need the ID parameter to create the IP Pools.

---
# Create global IP Pool.
- hosts: dnac_servers
  vars_files:
    - vars.yml
  connection: local
  gather_facts: no

  tasks:
  - name: create test
    cisco.dnac.global_pool:
      dnac_host: "{{dnac_host}}"
      dnac_username: "{{dnac_username}}"
      dnac_password: "{{dnac_pass

[2021-10-05 15:19] a083138 commented on #19
I can confirm I used Python 3 and it did resolve the issue and the modules are now all working ok.  Thanks for the advise!

[2021-10-05 15:19] #19 closed

[2021-11-01 18:00] #7 closed

[2021-11-01 18:01] #13 closed

[2021-11-01 18:01] #15 closed

[2021-11-01 18:02] #17 closed

[2021-11-01 18:02] #18 closed

[2021-11-01 19:06] wastorga commented on #14
I'm unable to replicate the issue in the current environment.
The current environment has the following requirements: dnacentersdk==2.3.2 and cisco.dnac>=3.1.6

Before cisco.dnac 3.1.6, it was an issue.

Feel free to reopen if the problem still exists. Thank you.

[2021-11-01 19:06] #14 closed

[2021-11-01 21:37] wastorga commented on #21
New collection v3.2.2 solves this issue.

Feel free to reopen if the problem still exists. Thank you.

[2021-11-01 21:37] #21 closed

[2021-11-01 21:37] #5 closed

[2021-11-16 04:15] jianm12007 opened #26 "Create VN use cisco.dnac.sda_virtual_network_v2 does not work"
cisco.dnac.sda_virtual_network_v2 mandatory parameter include virtualNetworkName and virtualNetworkType, both are string type. After check the API from DNAC, the mandatory parameters are virtualNetworkName and isGuestVirtualNetwork which is a boolean type.

Looks like cisco.dnac.sda_virtual_network_v2 does not has isGuestVirtualNetwork parameter support.

[2021-11-17 19:07] wastorga commented on #26
Hi @jianm12007. Thanks.
We are working on updating the collection and the SDK that this collection uses.
We will update you when that's done.

[2021-12-02 15:46] wastorga commented on #26
Hi, @jianm12007. Yesterday, we updated the collection.

The 3.2.3 version (of this collection) has the requested change and supports DNAC version 2.2.2.3. The SDK requirement for it changed from 2.3.1 to 2.3.3.

The new version 4.0.0 (of this collection) supports DNAC version 2.2.3.3 and has new modules. The SDK requirement for it changed from 2.3.3 to 2.4.0.

[2021-12-02 15:46] #26 closed

[2021-12-16 03:17] jianm12007 opened #30 "Use cisco.dnac.site_create to create building report error"
When I use cisco.dnac.site_create to create building, and I define latitude and longitude as vars. When ansible playbook run, it will always report error as below:

TASK [Create Buildings] ****************************************************************************************************************************
failed: [10.74.83.21] (item={'name': 'SHA-17', 'latitude': 31.2, 'longitude': 121.4, '

[2021-12-16 09:24] jianm12007 opened #31 "Create VN to SDA Fabric site using cisco.dnac.sda_virtual_network report error"
When i run ansible-playbook using cisco.dnac.sda_virtual_network to assign VN to sites, I got a error. Below is the debug output:

Response
	Status: 200 - OK
	Headers:
		Content-Type: application/json
		Content-Length: 408
		Connection: keep-alive
		bapiexecutionid: 9cac1abc-01ad-44bc-b9a1-e681e67af848
		Server: webserver
		Date: Thu, 16 Dec 2021 09:19:01 GMT
		Via: api-gateway
		Cache-Control: no

[2021-12-17 09:12] jianm12007 opened #32 "delete global ip pool with absent stat is not work"
Playbook is as below:
-----------------------------------
  - name: Delete Global IP Pool
    cisco.dnac.global_pool:
      dnac_host: "{{dnac_host}}"
      dnac_username: "{{dnac_username}}"
      dnac_password: "{{dnac_password}}"
      dnac_verify: "{{dnac_verify}}"
      dnac_port: "{{dnac_port}}"
      dnac_version: "{{dnac_version}}"
      dnac_debug: true
      state: absent
      id: "4f31

[2021-12-18 06:11] jianm12007 commented on #31
Found the same issue at cisco.dnac.sda_fabric_site.

[2021-12-20 20:50] southcarolinaswampfox opened #33 "Site_Create Module is Missing the Floor Number Attribute"
Hi,

When using the cisco.dnac.site_create there is no way to add the Floor Number. Could that please be added?

It looks like DNAC Expects an attribute named: "floorIndex"

[2021-12-21 18:55] southcarolinaswampfox commented on #30
I was able to run this module wit Lat/Long. I did not use quotes in the parentName when referencing the path.

Example:

    - name: Create building
      cisco.dnac.site_create:
        site:
          building:
            address: string
            latitude: 50
            longitude: 50
            name: "Building1"
            parentName: Global/AreaName
        type: building

[2021-12-22 12:54] southcarolinaswampfox commented on #30
jianm12007,

I was able to define them as variables within the same playbook without any issue. Are you doing something differently? I suspect your issue is related to how you're defining the variables. Are you using quotes to define the lat/long? You need them to be integers, so you shouldn't be using quotes. The error you're getting is " is invalid. Reason: data.site.building.latitude must be nu

[2022-01-11 19:50] #33 closed

[2022-01-11 19:50] southcarolinaswampfox commented on #33
not possible without custom code

[2022-01-12 17:26] wastorga commented on #32
Hi, @jianm12007.
The module needed more details to delete it in the previous version. So I changed that behavior in version 4.1.1.

[2022-01-12 17:26] #32 closed

[2022-01-12 17:31] wastorga commented on #30
I am closing the issue since it appears to be related to Ansible variables handling rather than the collection itself.

[2022-01-12 17:31] #30 closed

[2022-01-12 17:33] wastorga commented on #31
Feel free to comment to reopen if the problem persists.

[2022-01-12 17:33] #31 closed

[2022-01-21 17:04] beye91 opened #36 "An error occured when executing operation. The error was: [400] Bad Request - NCOB01291: Configuration and Image information are required"
**Prerequisites**
* [X] Have you tested the operation in the API directly?
* [X] Do you have the latest Ansible collection version?

**Describe the bug**
Hey guys, while using this module it is only possible to use three variables (deviceID,siteID,type).

My playbook looks like this:
[code]

**When I execute the playbook it creates the following error:**
`An error occured when executing operation.

[2022-01-31 20:47] bvargasre commented on #36
@beye91 We are working in the issue, we will updating you when it is resolved

[2022-01-31 22:41] fmunozmiranda commented on #36
@beye91 A new version (4.2.0) was published with the pertinent changes to solve the error, if the problem persists let us know.

[2022-02-01 06:34] beye91 commented on #36
Hey @fmunozmiranda , thank you! I will test it and will let you know if it is working.

[2022-02-02 06:40] beye91 commented on #36
Hey @fmunozmiranda , I tested the module and it is working for me. Thanks for resolving the issue!

[2022-02-02 15:41] fmunozmiranda commented on #36
@beye91 It's a pleasure to help you.

[2022-02-02 15:41] #36 closed

[2022-02-04 21:23] beye91 opened #40 "Unable to tag templates"
**Prerequisites**
* [ X] Have you tested the operation in the API directly?
* [ X] Do you have the latest Ansible collection version?

**Describe the bug**
While trying to tag a template the SDK is creating an error:

**dnacentersdk.exceptions.MalformedRequest: {'memberToTags': [{'key': 'e64d42a9-3db7-456b-8486-58afd0373bd1:[17d26e24-7796-4faf-9be0-bd0a642aa846]'}], 'memberType': 'template'} is in

[2022-02-04 22:18] bvargasre commented on #40
Greetings, let's review the issue.
I have a couple of questions:
First, in the 'Collection version' of cisco.dnac what are you using?
Because it seems that you are providing us with the value of the dnac_version argument.
You can find out which one is with `ansible-galaxy collection list | grep "cisco.dnac"`
Can you attach the request body to the API you are using?

[2022-02-05 09:06] beye91 commented on #40
Hey @bvargasre , I am using version "cisco.dnac 3.2.3"

The wrong call from the playbook:
 {'memberToTags': [{'key': 'e64d42a9-3db7-456b-8486-58afd0373bd1:[17d26e24-7796-4faf-9be0-bd0a642aa846]'}], 'memberType': 'template'}

This is how it should look like:
{"memberType":"template","memberToTags":{"e64d42a9-3db7-456b-8486-58afd0373bd1":["17d26e24-7796-4faf-9be0-bd0a642aa846"]}}

[2022-02-07 20:50] beye91 commented on #40
Let me know if anything else is needed.

[2022-02-07 22:34] bvargasre commented on #40
Greetings @beye91 ,  already solved the problem, if you can update the version of ansible version 3.2.3 to 3.3.0, besides it would be good to add `validate_response_schema: False` in the playbook to avoid MalformedRequest
For example:
[code]
If the problem still appears or a new one appears, please let us know and we will be happy to fix it.

[2022-02-08 05:07] aradford123 opened #43 "Example fails"
**Prerequisites**
* [ ] Have you tested the operation in the API directly?
* [ ] Do you have the latest Ansible collection version?

**Describe the bug**
i tried the example on the README on a Macbook Pro M1, running python 3.9.2
Execution failed with the error below

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
ansible-playbook -i hosts te

[2022-02-08 06:26] aradford123 commented on #43
Turns out an OSX issue..

export OBJC_DISABLE_INITIALIZE_FORK_SAFETY=YES

[2022-02-08 17:21] beye91 commented on #40
@bvargasre I experienced issues to set the template ID as a variable:

`      cisco.dnac.tag_membership:
        dnac_host: "{{dnac_host}}"
        dnac_username: "{{dnac_username}}"
        dnac_password: "{{dnac_password}}"
        dnac_verify: "{{dnac_verify}}"
        dnac_port: "{{dnac_port}}"
        dnac_debug: "{{dnac_debug}}"
        validate_response_schema: False
        memberToTags:

[2022-02-08 21:26] wastorga commented on #40
Hi, @beye91.

I was able to find some useful links regarding creating/manipulating objects in Ansible.

- [Official documentation](https://docs.ansible.com/ansible/latest/user_guide/complex_data_manipulation.html#create-dictionary-from-list)
- [Blog tutorial](https://www.middlewareinventory.com/blog/ansible-dict/)

[2022-02-08 21:29] wastorga commented on #40
With that information, I was able to create the following example.

[code]

[2022-02-09 00:43] #43 closed

[2022-02-09 04:31] aradford123 commented on #40
hi, i found this was the simplest solution for me.

`  - name: Tag a template
    cisco.dnac.tag_membership:
      dnac_host: "{{dnac_host}}"
      dnac_username: "{{dnac_username}}"
      dnac_password: "{{dnac_password}}"
      dnac_verify: "{{dnac_verify}}"
      validate_response_schema: False
      memberToTags:
          - 34ca2097-4fd9-429e-bf9b-a41d4b4e3d8b:
              - d5cc60e0-014e-4

[2022-02-11 11:15] FlGirard opened #44 "Unable to create SDA Fabric"
**Prerequisites**
* [X] Have you tested the operation in the API directly?
* [X] Do you have the latest Ansible collection version?

**Describe the bug**

I have a problem with the cisco.dnac.sda_fabric module, when I try to create an SDA factory, the module sends an HTTP request with the GET method instead of POST.

**Expected behavior**

HTTP Post request that results in the creation of an SDA f

[2022-02-13 03:43] noziwatele opened #46 "Unable to initiate stack renumber workflow on device claim"
I am using the pnp_device_claim_to_site module to onboard new switch stacks into our environment, including passing through variable data for the Day-0 template, however I would also like to be able to configure the stack details via this module but have not been able to find a way to do this so far. The manual process via the GUI allows us to do this: claim device, step 2 -> configuration: stack

[2022-02-13 13:40] zapodeanu commented on #44
What is the version of your DNA Center?

[2022-02-13 14:55] zapodeanu commented on #46
We do not have the stack APIs to re-number the switches in a stack. We have only the API to read the stacked switches info.
Please review if the PnP APIs support this option.

[2022-02-13 20:13] wastorga commented on #44
Hi, @FlGirard.

@zapodeanu, I think is 2.2.2.8.
Sorry for the delay; I forgot to comment here.

The issue is that DNA Center API gives a 200 OK response even when unable to find the data. And that the module did not check for the status attribute. I added that check and tried to upload the new version to Galaxy, but it did not complete successfully.
However, the new version is now up.

[2022-02-15 10:53] FlGirard commented on #44
Hi @wastorga,

I just tested the new version and it works perfectly!
Thanks for the patch! I close the issue.

[2022-02-15 10:53] #44 closed

[2022-02-21 17:00] #40 closed

[2022-02-23 11:03] beye91 commented on #40
hey @bvargasre , sorry for my late response. Issue has been solved. Thanks!

[2022-02-24 07:01] jianm12007 opened #47 "use cisco.dnac.sda_virtual_network_ip_pool module to delete ippool from sda vn is not working."
**Describe the bug**
Use Ansible cisco.dnac.sda_virtual_network_ip_pool module with state = absent to delete ip pool from VN and fabric sites is not working as expected. The ip pool can not be deleted from VN/SDA fabric sites.

**Prerequisites**
* I have tested directly using DNCA API. It works. Looks like it is not a DNAC API bug.
* Version information:
   - Ansible version: 2.12.2
   - Ansible c

[2022-02-24 16:39] fmunozmiranda commented on #47
@jianm12007 We are working on the issue.

[2022-02-24 21:44] fmunozmiranda commented on #47
@jianm12007  Released version 5.2.0 of ansible with the bug fixed. Try it and let us know if it worked for you.

[2022-02-25 02:46] jianm12007 commented on #47
@fmunozmiranda
I have tested with the fixed code. It is works fine.
Thanks.

[2022-02-25 16:29] #47 closed

[2022-03-11 16:28] FlGirard opened #49 "Issue with cisco.dnac.sda_fabric_border_device"
Hello,

I'm trying to use the module cisco.dnac.sda_fabric_border_device to add the border role to a device in a fabric, but I'm meeting different problems.

First, there is a problem in the documentation of the module (https://cisco-en-programmability.github.io/dnacenter-ansible/main/plugins/sda_fabric_border_device_module.html#ansible-collections-cisco-dnac-sda-fabric-border-device-module), the

[2022-03-11 17:09] fmunozmiranda commented on #49
Hey @FlGirard, Could you provide us with the following information to have a clearer context of the problem:
**Environment:**
* Cisco DNA Center Version and patch:
* AnsibleVersion:
*Collection version:
*OSVersion:

**Screenshots**
Please provide a screenshot of the successful API call with cuRL, Postman, etc.

[2022-03-11 17:28] FlGirard commented on #49
Sure

**Environment:**

- Cisco DNA Center Version and patch: 2.2.2.8
- Ansible Version: 5.1.0
- *Collection version: 5.1.2
- *OSVersion: MacOs 12.2.1

**Screenshots:**

I need to make some changes to my network to make the request successful, but I find this screenshot relevant. In my DNA Center, I am able to send an API call and get a return with the reason for the failure (here I did not create

[2022-03-11 18:21] zapodeanu commented on #49
You need an IP Transit to be configured to configure the border node. We do not have the API to configure that. It may be configured using the UI

[2022-03-14 10:05] FlGirard commented on #49
Yes, I noticed that but that is not the point. I tried to make the same request: in DNAC and with the module.

The request sent by the module failed because of the malformed json (externalConnectivitySettings and virtualNetwork should be formatted as an array). Moreover, the documentation provides a malformed example. As the screenshot below shows:

![image](https://user-images.githubusercontent.c

[2022-03-14 23:08] fmunozmiranda commented on #49
@FlGirard , version 2.4.6 of dnacentersdk and 6.0.0 of dnacenter-ansible have been published, try these new versions and let us know if it is working for you now.

[2022-03-16 14:35] #49 closed

[2022-03-22 12:18] beye91 opened #52 "RfProfile is required in pnp_device_claim_to_site"
**Prerequisites**
* [X] Have you tested the operation in the API directly?
* [X] Do you have the latest Ansible collection version?

**Describe the bug**
For onboarding on access point to the site the rfProfile is needed. The rfProfile is of course not needed for an switch!

A successful call from the API directly would look like this:

`--data-raw '{"siteId":"ebb73862-9e5d-4405-8551-83677ffe9199"

[2022-03-22 14:59] fmunozmiranda commented on #52
Hi @beye91 , We are working on it, we will keep you updated.

[2022-03-22 20:14] fmunozmiranda commented on #52
Hey @beye91, version 2.4.7 of dnacentersdk and 6.1.0 of dnacenter-ansible have been published, try these new versions and let us know if it is working for you now.

[2022-03-22 20:45] beye91 commented on #52
Hey @fmunozmiranda thank you so much! The issue has been solved. I have been able to claim the device 👍

[code]

[2022-03-22 21:50] fmunozmiranda commented on #52
With pleasure @beye91, in case of any other issue you just open the case.

[2022-03-23 15:16] beye91 opened #53 "Ansible DNAC REST module"
**Is your feature request related to a problem? Please describe.**
There are always REST calls that are not implemented and it would be great to have an Ansible module like other Cisco products for example ACI: https://docs.ansible.com/ansible/latest/collections/cisco/aci/aci_rest_module.html

**Describe the solution you'd like**
A module that only focuses on the payload and not dealing with authe

[2022-03-23 15:29] beye91 commented on #53
[code]

I would like to avoid that and it can be much more simpler.

Cheers, Chris

[2022-03-24 14:33] jbogarin commented on #53
Thanks for the enhancement idea. We will figure out if we can include it in the next release.

[2022-03-24 14:33] #46 closed, assigned to nobody

[2022-03-30 09:26] beye91 opened #56 "Wireless Provision Module dosent work"
**Prerequisites**
* [X] Have you tested the operation in the API directly?
* [X] Do you have the latest Ansible collection version?

**Describe the bug**
Defined Ansible module:
[code]
Call is accepted but the result is an error:
[code]
I tried the Swagger with the same data:
[code]
Result was success. This is what is being sent via API:

[code]

This is how the call works:
[code]
__persistbapiout

[2022-03-30 15:49] beye91 opened #57 "Creating Reports is not successful (cisco.dnac.reports)"
**Prerequisites**
* [X] Have you tested the operation in the API directly?
* [X] Do you have the latest Ansible collection version?

**Describe the bug**
Ansible play:
[code]

Error:
`{'tags': [None], 'deliveries': [None], 'name': 'AP-ANSIBLE', 'schedule': {'type': 'SCHEDULE_NOW', 'dateTime': 1648380084211}, 'view': {'fieldGroups': [{'fieldGroupDisplayName': 'AP Detail By AP', 'fieldGroupName': 'a

[2022-03-30 19:31] fmunozmiranda commented on #56
Hey @beye91 , we are working on it.

[2022-03-30 19:51] fmunozmiranda commented on #57
Hey @beye91 , we are working on it.

[2022-03-30 20:18] fmunozmiranda commented on #57
@beye91 , a question, in this request are there any other attributes that should go as empty arrays besides ```tags``` and ```deliveries```?

[2022-03-30 22:49] beye91 commented on #57
Hey @fmunozmiranda , yes the brackets for value in filters:

            "value":[ <
                {
               "value":"sample-global-site-id",
               "displayValue":"Global"
            }
        ] <

[2022-03-30 22:50] beye91 commented on #56
Hey @fmunozmiranda  thanks 🙏

[2022-03-31 19:19] fmunozmiranda commented on #56
Hey @beye91 , dnacenter-ansible 6.3.0 has been published, try the request with this version again and let us know if is working for you.

---
**NOTE**

Added `headers` to the module, however, if you don't set them, the required header ``__persistbapioutput` defaults to true.

---

[2022-03-31 19:19] fmunozmiranda commented on #57
Hey @beye91 , dnacenter-ansible 6.3.0 has been published, try the request with this version again and let us know if is working for you.

---
**IMPORTANT**

Set the `validate_response_schema` flag to true, this is because the behavior of filters.values (sometimes dictionary, sometimes array) can cause validation problems, here is a playbook that worked for me.

---

[code]

[2022-04-01 04:23] beye91 commented on #57
Hey @fmunozmiranda the module is working now. Thanks!

[2022-04-01 04:37] beye91 commented on #56
Hey @fmunozmiranda thanks. It works now! :)

[2022-04-01 16:14] fmunozmiranda commented on #56
With pleasure @beye91, I proceed to close the issue.

[2022-04-01 16:14] #56 closed

[2022-04-01 16:14] fmunozmiranda commented on #57
With pleasure @beye91, I proceed to close the issue.

[2022-04-01 16:14] #57 closed

[2022-04-20 04:44] aradford123 opened #59 "WLC claim is not supported."
Claiming a WLC  for PNP requires the following payload:
{"siteId":"288b1b10-4f21-439c-9677-15943133b77c","deviceId":"625f8b3434ac25000b5ae0d4","hostname":"adam","type":"CatalystWLC","imageInfo":{"imageId":"3f84c0b5-f819-4972-acba-daf8e2b8912d","skip":false,"removeInactive":false},"staticIP":"1.1.1.1","subnetMask":"255.255.255.0","gateway":"1.1.1.2","vlanId":"10","ipInterfaceName":"gig2"}

my playb

[2022-04-20 14:44] fmunozmiranda commented on #59
Hey @aradford123, we are working on it, will keep you informed.

[2022-04-20 20:20] fmunozmiranda commented on #59
Hi @aradford123 , versions 2.4.9 and 6.4.0 of dnacentersdk and dnacenter-ansible respectively have been released, please try again with those versions and let us know if it works for you.

---
**Additional info**

My testing playbook looks like this.

---

[code]

[2022-04-21 07:42] aradford123 commented on #59
awesome thanks for this.. that fixed it!

[2022-04-21 17:42] fmunozmiranda commented on #59
A pleasure to help, I will proceed to close the issue.

[2022-04-21 17:42] #59 closed

[2022-06-16 21:12] miarond opened #62 "File Info module reports file created, but doesn't create the file"
**Prerequisites**
* [x] Have you tested the operation in the API directly?  **Yes**
* [x] Do you have the latest Ansible collection version? **Yes**

**Describe the bug**
The module `cisco.dnac.file_info` will perform an API call to the DNA Center controller and request the download of a file by it's File ID.  The resulting response reports the filename to be created, as well as the path where the

[2022-06-17 20:27] bvargasre commented on #62
Hi @miarond could you pass the playbook you used for the test.

[2022-06-17 22:05] miarond commented on #62
[Archive.zip](https://github.com/cisco-en-programmability/dnacenter-ansible/files/8931523/Archive.zip)
@bvargasre Here is the playbook, vars file, and task file that I used.  I've since modified the task file to work around the problem I reported, but if you remove or comment out the final "Saving File..." task, you'll get the results I reported.

[2022-06-17 23:40] bvargasre commented on #62
Checking your `cisco.dnac.file_info` playbook, there are some headers parameters that are missing:`saveFile`, `dirPath` and `filename`
Example:
[code]
Try it, and let know us if is working for you.

---
**Note:**

dirPath is the abosulete path of the directory where the file will be downloaded, if the directory does not exist the file will be saved at the level where the playbook was executed.

--

[2022-06-21 17:32] miarond commented on #62
@bvargasre Thank you for pointing that out.  The example YAML code in the documentation for this Module doesn't show these extra options, but I see that the parameters section of the documentation *does* show them.  I added just the `saveFile` parameter and set it to `yes`, which caused the file to be saved the directory where the Playbook exists, using the name from the return headers.

I'm glad

[2022-06-21 17:32] #62 closed

[2022-06-23 15:30] ledelmann opened #65 "Issue deleting a discovery job with the Ansible "cisco.dnac.discovery" module"
**Prerequisites**
* [ ] Have you tested the operation in the API directly?
* [X] Do you have the latest Ansible collection version?

**Describe the bug**
I tried to delete a device discovery job with the Ansible module "cisco.dnac.discovery", but I received the following output and the discovery job was not deleted.

The task in the playbook is really simple:
[code]

Output:

[code]

**Expected be

[2022-06-24 05:59] ledelmann commented on #65
Hi @bvargasre,

I think the SDK does not support "delete_discovery_by_name" and therefor it's also not available in the Ansible discovery module. The delete task works when I use the discovery ID in the playbook. The Method "get_object_by_name" does not make sense in this case.

[code]

Regards,

Lukas

[2022-06-24 17:55] bvargasre commented on #65
Hi @ledelmann you are right, the discovery does not have a get_discovery_by_name, but you can use the other modules to get the discovery_id as in this example:

[code]
---
**Note:**

if you have more than 500 Discovery you have to change the index because in the `Get all Discovery Range` it can only return a maximum of 500 so in the `startIndex` you have to change it from 1 to 500 to bring the nex

[2022-07-04 22:35] bvargasre commented on #65
Hey @ledelmann  it's been more than 10 days since our last message to you, but we still haven't got a response yet

If after 48 hours we still haven't received any reply from you, the issue status will be considered as solved.

Best regards.

[2022-07-08 00:57] bvargasre commented on #65
Issue closed due to inactivity

[2022-07-08 00:57] #65 closed

[2022-07-15 17:58] lewiscouldwell opened #66 "Transit Peer Network doesn't work"
**Prerequisites**
- [x] Have you tested the operation in the API directly?
- [x] Do you have the latest Ansible collection version?

**Describe the bug**
When trying to create a new IP Transit using the following payload...
[code]
It always returns the following, even when the Transit does not exist on the DNAC
[code]
It appears that within the transit_peer_network.py action we have incorrect logi

[2022-07-15 21:06] bvargasre commented on #66
Hi @lewiscouldwell, we are working on it.

[2022-07-15 21:33] bvargasre commented on #66
@lewiscouldwell, can you add the variable `ise_debug` and set it to true in the dnac_login, and send me the api Request and Response provided by ise_debug
[code]

[2022-07-16 08:23] lewiscouldwell commented on #66
Hi @bvargasre, see output below with debug turned on.
[code]

[2022-07-19 11:41] pclay5 opened #67 "Failing to Delete Edge Nodes"
**Prerequisites**
* [x] Have you tested the operation in the API directly?
* [x] Do you have the latest Ansible collection version?

**Describe the bug**
Attempting to delete an edge node with the module "sda_fabric_edge_device.py" fails. Error states that the "payload" is missing but the documentation suggests that the payload parameter is only required to create an edge node.

**Expected behavio

[2022-07-19 19:56] bvargasre commented on #66
Hi @lewiscouldwell, dnacenter-ansible has been updated to version 6.5.1, so try this new version and tell me if it works.

[2022-07-19 19:57] bvargasre commented on #67
Hi @pclay5 , dnacenter-ansible has been updated to version 6.5.1, so try this new version and tell me if it works.

[2022-07-20 08:14] lewiscouldwell commented on #66
Hi @bvargasre, thanks for the update, I have installed version 6.5.1 and it is now working as expected.

[2022-07-20 08:14] #66 closed

[2022-07-20 09:18] pclay5 commented on #67
Hi @bvargasre, still failing unfortunately:

  File "*****/ansible_collections/cisco/dnac/plugins/action/sda_fabric_edge_device.py", line 141, in delete
    id = self.new_object.get("id") or requested_obj.get("id")

[code]

requested_obj would never exist.

[2022-07-20 15:21] lewiscouldwell opened #69 "Failing to delete Virtual Network Assignment"
**Prerequisites**
* [x] Have you tested the operation in the API directly?
* [x] Do you have the latest Ansible collection version?

**Describe the bug**
I'm attempting to remove a Virtual Network from an SDA site using the payload below.
[code]
However this complains stating i am missing 'payload', when its not mentioned as been required in either the API or the Ansible module, see below.
[code]

[2022-07-21 18:58] bvargasre commented on #67
Hi @pclay5, thanks for reporting the bug, the new dnacenter-ansible version v6.5.2 is expected to fix this error.

[2022-07-21 18:58] bvargasre commented on #69
Hi @lewiscouldwell , thanks for reporting the bug, the new dnacenter-ansible version v6.5.2 is expected to fix this error.

[2022-08-03 05:55] bsmeding opened #71 "Example code error in wireless_profile.py"
**Prerequisites**
* [Y] Have you tested the operation in the API directly?
* [Y] Do you have the latest Ansible collection version?

**Describe the bug**
Naming of variable wrong in : [dnacenter-ansible](https://github.com/cisco-en-programmability/dnacenter-ansible)/[plugins](https://github.com/cisco-en-programmability/dnacenter-ansible/tree/main/plugins)/[modules](https://github.com/cisco-en-prog

[2022-08-03 10:37] #69 closed

[2022-08-08 14:18] bvargasre commented on #67
Hey @pclay5 it's been more than 18 days since our last message to you, but we still haven't got a response yet

If after 24 hours we still haven't received any reply from you, the issue status will be considered as solved.

Best regards.

[2022-08-10 06:43] #67 closed

[2022-08-11 12:16] lewiscouldwell opened #73 "sda_hostonboarding_ssid_ippool is not working"
**Prerequisites**
* [x] Have you tested the operation in the API directly?
* [x] Do you have the latest Ansible collection version?

**Describe the bug**
We are having an issue with this module where it errors after checking whether or not the vlan name already exists. As we are setting the state to 'present' we should assume that if no match is found from our payload then it should go ahead and a

[2022-08-12 21:06] bvargasre commented on #71
Hi @bsmeding , thanks for reporting the bug, the new dnacenter-ansible version v6.5.3 is expected to fix this error.

[2022-08-12 21:07] bvargasre commented on #73
Hi @lewiscouldwell , thanks for reporting the bug, the new dnacenter-ansible version v6.5.3 and dnacentersdk version v2.5.4 is expected to fix this error.

[2022-08-12 21:37] bsmeding commented on #71
Hi @bvargasre thanks for the quick fix!

[2022-08-12 21:58] bvargasre commented on #71
If the problem is solved feel free to close the issue, if the problem persists or a new one arises let me know and I will gladly help you.

[2022-08-15 12:31] lewiscouldwell commented on #73
Hi @bvargasre, thanks for the update. It now appears to be adding the SSID pools correctly. However, there is still an issue where its not updating with new values if I try and amend the vlan name. Therefor if the same vlan name is assigned to any other SSID it will fail as it thinks what you are trying to push already exists.

looking at the exists function it only seems to be checking the vlan n

[2022-08-25 15:29] #71 closed

[2022-08-25 16:52] bsmeding commented on #71
Thanks. Didn't had any time for new version install on ou environment. Will test soon

[2022-11-03 07:10] jianm12007 opened #79 "Bug within cisco.dnac.sda_fabric_authentication_profile"
I try to use cisco.dnac.sda_fabric_authentication_profile to assign authentication to SDA fabrics, but error messages appears as below:

TASK [Assign default authentication profile to fabric sites.] ******************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: dnacentersdk.exceptions.MalformedRequest: [{'siteNameHierarchy': 'Global/Shanghai/SHA

[2022-11-03 09:46] jianm12007 opened #80 "Using cisco.dnac.sda_virtual_network_ip_pool to delete ip pools from VN does not work"
The dnac version is 2.3.3.5 and dnac collection is 6.6.0.
I try to delete IP pools from VN using cisco.dnac.sda_virtual_network_ip_pool, it show the below error messages.

TASK [Assign IP Pool to VN and fabric sites.] **************************************************************************************************************
An exception occurred during task execution. To see the full traceback,

[2022-11-03 10:07] jianm12007 opened #81 "No API to enable Wired Endpoint Data Collection"
At Design --- Network Setting --- Telemetry, Wired Endpoint Data Collection is disabled by default. At SDA environment, this option must be enabled before provision other SDA feature. But there is no API to enable or disable this option. From programmability point of view, without this API, there will be no end to end provisionality for SDA network.

[2022-11-06 07:00] jianm12007 opened #82 "Assign devices to sites failed"
**Describe the bug**
Using cisco.dnac.site_assign_device to assign devices to sites but failed, with the below message.

TASK [Assign devices to site.] *****************************************************************************************************************************
[WARNING]: This module is currently unmaintained and will be removed in future releases.
ok: [10.100.0.1]

**Expected beha

[2022-11-17 19:52] zapodeanu commented on #73
@lewiscouldwell Could you please connect with me about this issue? gzapodea@cisco.com, Thank you

[2022-11-22 22:22] bvargasre commented on #79
Hi @jianm12007 , thanks for reporting the bug.
New versions of dnacentersdk 2.5.5 and dnacenter ansible 6.6.1 are available. Feel free to test it and close or comment if necessary.

[2022-11-22 22:22] bvargasre commented on #80
Hi @jianm12007 , thanks for reporting the bug.
dnacenter ansible 6.6.1 is available. Feel free to test it and close or comment if necessary.

[2022-11-22 22:22] bvargasre commented on #82
Hi @jianm12007
For version 2.3.3.0 the documentation changed so the module for version 2.3.3.0 and higher is `assign_device_to_site`, for lower versions it is `site_assign_device`.

[2022-11-28 02:42] jianm12007 commented on #80
I have tested with Ansible cisco.dnac 6.6.1 and dnacentersda 2.5.5, still output the below error message.

TASK [Release IP Pool to VN and fabric sites.] *************************************************************************************************************
An exception occurred during task execution. To see the full traceback, use -vvv. The error was: ansible_collections.cisco.dnac.plugins.

[2022-11-28 04:29] jianm12007 commented on #82
After check to assign_device_to_site, it is works. Please feel free to close this issue.

[2022-11-28 18:46] #82 closed

[2022-11-29 00:54] bvargasre commented on #80
Could you consult this executionID `65dc8cc5-c2e3-4f88-870b-63eae1b2c244` and send me the response

[2022-11-29 02:09] jianm12007 commented on #80
This is the output of querying the executionID from DNAC API:

{
    "bapiKey": "fa92-19bf-45c8-b43b",
    "bapiExecutionId": "65dc8cc5-c2e3-4f88-870b-63eae1b2c244",
    "startTime": "Mon Nov 28 02:44:32 UTC 2022",
    "startTimeEpoch": 1669603472895,
    "endTime": "Mon Nov 28 02:44:33 UTC 2022",
    "endTimeEpoch": 1669603473986,
    "timeDuration": 1091,
    "status": "SUCCESS",
    "runtimeIns

[2022-11-29 05:14] jianm12007 commented on #79
Please feel free to close issue. It is fixed.

[2022-11-29 20:13] #79 closed